.about {
  width: 100%;
  height: 100%;
  background: url(../images/about_page.jpg) center; }
  .about h3 {
    padding-top: 15px;
    padding-bottom: 50px;
    color: #60454c;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Alata', sans-serif; }
  .about p {
    font-family: 'Alata', sans-serif;
    color: #60454c;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    line-height: 23px; }
  .about .box-about {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center; }

.square-about-one {
  width: 40px;
  height: 60px;
  border-top: 3px solid #60454c;
  border-left: 3px solid #60454c;
  border-bottom: 3px solid #60454c; }

.square-about-two {
  width: 40px;
  height: 60px;
  border-top: 3px solid #60454c;
  border-right: 3px solid #60454c;
  border-bottom: 3px solid #60454c; }

.portfolio-image-main {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .portfolio-image-main img {
    border-radius: 50%;
    width: 300px;
    height: 300px; }
  .portfolio-image-main .portfolio-image-main-two {
    margin: 0 auto 20px auto; }

.main-text {
  margin-bottom: 5px; }

.underline {
  text-decoration: underline; }

@media screen and (min-width: 768px) {
  .portfolio-image-main img {
    width: 400px;
    height: 400px; }
  .portfolio-image-main .portfolio-image-main-two {
    margin: 50px auto 100px auto; }
  .portfolio-image-main .main-text {
    margin-bottom: 15px; }
  .about p {
    font-size: 23px;
    text-align: center;
    line-height: 30px; }
  .about h3 {
    font-size: 30px; }
  .description-desktop {
    width: 650px;
    margin: 0 auto; } }

@media screen and (min-width: 1200px) {
  .portfolio-image-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .portfolio-image-main img {
      border-radius: 50%;
      width: 500px;
      height: 500px; }
    .portfolio-image-main .portfolio-image-main-two {
      margin: 50px auto 0 60px; }
  .about .box-about {
    padding-top: 50px; }
  .about p {
    line-height: 40px;
    text-align: left;
    font-size: 26px; }
  .top {
    margin-top: 160px; }
  .description-desktop {
    width: 40%;
    height: 500px; } }

.contact {
  width: 100%;
  height: 100%;
  background: url(../images/contact_page.jpg); }
  .contact h2 {
    padding-top: 50px;
    padding-bottom: 70px;
    color: #757283;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold; }
  .contact h3 {
    padding-top: 15px;
    padding-bottom: 50px;
    color: #60454c;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Alata', sans-serif; }
  .contact .box-about {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center; }

.square-about-one {
  width: 40px;
  height: 60px;
  border-top: 3px solid #60454c;
  border-left: 3px solid #60454c;
  border-bottom: 3px solid #60454c; }

.square-about-two {
  width: 40px;
  height: 60px;
  border-top: 3px solid #60454c;
  border-right: 3px solid #60454c;
  border-bottom: 3px solid #60454c; }

#contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center; }

#formThree {
  margin: 0 auto; }
  #formThree input {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
    height: 50px;
    background: none;
    appearance: none;
    -webkit-appearance: none;
    border-bottom: 2px solid #60454c;
    border-left: 2px solid #60454c;
    border-right: 2px solid #60454c;
    border-top: none; }
  #formThree input::placeholder {
    color: #60454c;
    padding-top: 175px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-weight: bold; }
  #formThree .colortext {
    color: #60454c;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-weight: bold; }

.formTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; }
  .formTwo input {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
    height: 50px;
    background: none;
    appearance: none;
    -webkit-appearance: none;
    border-bottom: 2px solid #60454c;
    border-left: 2px solid #60454c;
    border-right: 2px solid #60454c;
    border-top: none; }
  .formTwo input::placeholder {
    color: #60454c;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-weight: bold; }
  .formTwo .colortext {
    color: #60454c;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-weight: bold; }

#formFive {
  margin: 0 auto; }
  #formFive textarea {
    margin-top: 20px;
    margin-bottom: 15px;
    appearance: none;
    width: 300px;
    height: 150px;
    background: none;
    border-bottom: 2px solid #60454c;
    border-left: 2px solid #60454c;
    border-right: 2px solid #60454c;
    border-top: 2px solid #60454c; }
  #formFive textarea::placeholder {
    padding-top: 15px;
    padding-left: 5px;
    color: #60454c;
    padding-top: 175px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-weight: bold; }
  #formFive .colortext {
    color: #60454c;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-weight: bold;
    padding-top: 20px; }

#buttonForm {
  margin: 15px auto; }
  #buttonForm button {
    width: 200px;
    height: 50px;
    background: none;
    border: 2px solid #60454c; }
  #buttonForm .buttonFormOne {
    color: #60454c;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-weight: bold;
    cursor: pointer; }

#buttonForm:hover {
  background: #60454c; }
  #buttonForm:hover .buttonFormOne {
    color: white; }

@media screen and (min-width: 768px) {
  .contact h3 {
    font-size: 30px; }
  #contactForm {
    margin-top: 100px; } }

@media screen and (min-width: 1200px) {
  .slider-about-2 {
    background: none; }
  #formThree {
    margin: 0 auto; }
    #formThree input {
      width: 600px; }
  #formFive {
    margin: 0 auto; }
    #formFive textarea {
      width: 600px; }
  #contactForm {
    margin-top: 100px; }
  .formTwo {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .formTwo input {
      width: 300px; }
  #subject {
    margin-left: 5px; }
  .contact .box-about {
    padding-top: 50px; }
  #buttonForm {
    margin: 0 auto; }
    #buttonForm button {
      width: 200px;
      height: 50px;
      background: none;
      border: 2px solid #60454c; } }
